{% block welcome %}
    <div class="highlight">
        <h3>Welcome Note</h3>
        <img src="{{ asset('bundles/pergaproduct/images/highlight.gif') }}" alt="" class="right" />
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
        <a href="#" class="more">Find out more</a>
    </div>
{% endblock welcome %}

<div class="projects">
    {% block products %}
        {% include "PergaProductBundle:Default:products.html.twig" %}
    {% endblock products %}
</div>