{% extends '::base.html.twig' %}

{% block body -%}
    <div class="shell">
        <div class="border">
            <div id="header">
                {% block header %}
                    {% include "PergaProductBundle:Default:header.htlml.twig" %}
                {% endblock header %}
            </div>
            <div id="navigation">
                {% block navigation %}
                    {% include "PergaProductBundle:Default:navigation.html.twig" %}
                {% endblock navigation %}
            </div>
            <div id="myCarousel" class="carousel slide">
                {% block slider %}
                    {% include "PergaProductBundle:Default:slider.html.twig" %}
                {% endblock slider %}
            </div>
            <div id="main">
                {% block main %}
                    {% include "PergaProductBundle:Default:main.html.twig" %}
                {% endblock main %}
            </div>
            <div class="shadow-l"></div>
            <div class="shadow-r"></div>
            <div class="shadow-b"></div>
        </div>

        <div id="footer">
            {% block footer %}
                {% include "PergaProductBundle:Default:footer.html.twig" %}
            {% endblock footer %}
        </div>
    </div>

{% endblock %}