<div id="content" class="left">
    {% block content %}
        {% include "PergaProductBundle:Default:content.html.twig" %}
    {% endblock content %}
</div>
<div id="sidebar" class="right">
    {% block sidebar %}
        {% include "PergaProductBundle:Default:sidebar.html.twig" %}
    {% endblock sidebar %}
</div>
<div class="cl">&nbsp;</div>