<div class="slider-nav"> <a href="#" class="left notext">1</a> <a href="#" class="left notext">2</a> <a href="#" class="left notext">3</a> <a href="#" class="left notext">4</a>
    <div class="cl">&nbsp;</div>
</div>
<ul>
    <li>
        <div class="item">
            <div class="text">
                <h3><em>achieve your</em></h3>
                <h2><em>TARGETS</em></h2>
            </div>
            <img src="{{ asset('bundles/pergaproduct/images/slider01.gif') }}" alt="" /> </div>
    </li>
    <li>
        <div class="item">
            <div class="text">
                <h3><em>achieve your</em></h3>
                <h2><em>TARGETS</em></h2>
            </div>
            <img src="{{  asset('bundles/pergaproduct/images/slider01.gif') }}" alt="" /> </div>
    </li>
    <li>
        <div class="item">
            <div class="text">
                <h3><em>achieve your</em></h3>
                <h2><em>TARGETS</em></h2>
            </div>
            <img src="{{ asset('bundles/pergaproduct/images/slider01.gif') }}" alt="" /> </div>
    </li>
    <li>
        <div class="item">
            <div class="text">
                <h3><em>achieve your</em></h3>
                <h2><em>TARGETS</em></h2>
            </div>
            <img src="{{ asset('bundles/pergaproduct/images/slider01.gif') }}" alt="" /> </div>
    </li>
</ul>
