<td>
    <a href="{{ admin.generateObjectUrl(field_description.options.route.name, object, field_description.options.route.parameters) }}">
        <img src="{{ object.src }}" style="height: 100px;" />
    </a>
</td>