* {
	margin:0;
	padding:0;
	outline:0;
}
body {
	font-size:12px;
	line-height:20px;
	font-family:Georgia, Arial, Helvetica, Sans-Serif;
	color:#333;
	background:url(../images/body-bg.gif) repeat 0 0;
}
a {
	color:#ff0000;
	text-decoration:none;
	cursor:pointer;
}
a:hover {
	text-decoration:underline;
}
a img {
	border:0;
}
input, textarea, select {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}
textarea {
	overflow:auto;
}
.cl {
	display:block;
	height:0;
	font-size:0;
	line-height:0;
	text-indent:-4000px;
	clear:both;
}
.notext {
	font-size:0;
	line-height:0;
	text-indent:-4000px;
}
.left, .alignleft {
	float:left;
	display:inline;

}
.right, .alignright {
	float:right;
	display:inline;
}
.shell {
	width:980px;
	margin:0 auto;
}
.border {
	border:1px solid #e8e8e8;
	background:#fff;
	position:relative;
}
.shadow-l {
	background:url(../images/shadow-l.png) no-repeat 0 0;
	width:25px;
	height:686px;
	position:absolute;
	top:0;
	left:-25px;
}
.shadow-r {
	background:url(../images/shadow-r.png) no-repeat 0 0;
	width:25px;
	height:686px;
	position:absolute;
	top:0;
	right:-25px;
}
.shadow-b {
	background:url(../images/shadow-b.png) no-repeat 0 0;
	width:980px;
	height:20px;
	position:absolute;
	bottom:-20;
	left:0;
}
#header {
	background:url(../images/header-bg.gif) repeat-x 0 0;
	height:109px;
	position:relative;
}
.logo{
    width:356px;
    height:109px;
    float:left;
}
.logo p {
	color:black;
    position: absolute;
    top:10px;
    left:55px;
    font: 60px arial,sans-serif;
}
.logo span{
    color:red;
    font: 46px arial,sans-serif;

}
.logo a{
    text-decoration: none;
    color: black;
}
.logo a:hover{
    text-decoration: none;
    color: #000000;


}
.address {
    padding: 0 10px 2px 0;

}
.tel{
    float: right;
    display: inline;
    margin: 15px 24px 0 0;

}
#navigation {
	height:43px;
	border-top:1px solid #dbdbdb;
	border-bottom:1px solid #dbdbdb;
}
#navigation ul {
	list-style:none;
}
#navigation ul li {
	float:left;
	height:43px;
	border-right:1px solid #dbdbdb;
	font-size:12px;
	line-height:43px;
	font-weight:bold;
	text-transform:uppercase;
}
#navigation ul li a {
	float:left;
	height:43px;
	color:#000;
	padding:0 33px;
}
#navigation ul li a:hover, #navigation ul li a.active {
	color:#ff0000;
	text-decoration:none;
}
#main {
	width:932px;
	padding:37px 24px 17px 24px;
}
#main h3 {
	font-size:12px;
	line-height:15px;
	color:#000;
	text-transform:uppercase;
	border-bottom:1px solid #dbdbdb;
	padding:0 0 9px 0;
}
#main a.more {
	background:url(../images/more.gif) no-repeat 0 3px;
	font-size:11px;
	line-height:14px;
	color:#ff0000;
	text-decoration:underline;
	padding:0 0 0 13px;
}
#main a.more:hover {
	text-decoration:none;
}
#content {
	width:605px;
}
.welcome {
    padding: 0 0 10px 0;
}
.welcome h3 {
	margin:0 0 9px 0;
}
.welcome p {
	padding:0 0 11px 0;
    text-align: justify;
}
.welcome img {
	margin:4px 12px 0 12px;
}


.product__list {
    text-align: justify;
    font-size: 13px;
    font-family: Arial,Helvetica,sans-serif;
}
.product__content {}

.product__title {
    text-align: center;
    margin: 0 0 18px;
}

.product__item {
    display: inline-block;
    width: 270px;
    margin: 0 0 0 15px;
    padding: 15px 0 15px 0px;
}

.product__link {
    margin: 0 0 11px;
}

.product__link a {
    color: #1f80d9;
    line-height: 20px;
    font-weight: normal;
    text-decoration: none;
}

.product__info {
    margin: 0;
    padding: 0;
    color: #555;
    line-height: 20px;
    height: 140px;
}
.product__description {
    height: 100%;
}
.product__description ul {

}

.product__price {
    color: #e96901;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 15px;
    line-height: 20px;
    margin: 10px 0 0 0;
}
.product__price__amount {
    font-size: 28px;
}

#sidebar {
	width:300px;
}
.sidebar-nav {
	list-style:none;
	padding:0 0 17px 0;
}
.sidebar-nav ul {
	list-style:none;
}
.sidebar-nav ul li {
	border-bottom:1px solid #dbdbdb;
	font-size:12px;
	line-height:18px;
	padding:7px 0;
}
.sidebar-nav ul li a {
	background:url(../images/bullet.gif) no-repeat 5px 4px;
	color:#333;
	padding:0 0 0 16px;
}
.phone {
    font-size: 20px;
    line-height: 40px;
}
.phone__code {
     color: #800404;
}
.phone__number {
    padding: 0 7px;
    color: #168017;

}
.advertisement {
	padding:0 0 13px 0;
}
.advertisement h3 {
	margin:0 0 18px 0;
}
.advertisement .ads {
	padding:0 15px 0 7px;
}
.advertisement .ad {
	margin:0 0 18px 0;
}
#sidebar .info h3 {
	margin:0 0 7px 0;
}
#footer {
	font-family:Arial, sans-serif;
	font-size:11px;
	line-height:14px;
	color:#7f7f7f;
	padding:18px 27px 20px 38px;
}
#footer a {
	color:#7f7f7f;
	text-decoration:none;
}

/*style for contact*/
.img-float {
    float: left;
    margin: 0 7px 7px 0;
}
.about {
    text-align: justify;
}
.contact__table {
    padding: 15px 0;
}


