<strong><abbr title="Контактный телефон">GSM: </abbr></strong>
<span class="phone__code">+375-29</span><span class="phone__number">309-59-86</span>VEL<br>
<strong><abbr title="Контактный телефон">GSM: </abbr></strong>
<span class="phone__code">+375-29</span><span class="phone__number">880-37-78</span>MTS<br>