<div class = "product-price">
    <h4 class = "product-price__label"> Цена:</h4>
    <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
        {% for price in product.prices %}
            <div class = "product-price__item"  >
                <span itemprop = "price">{{ price.price }} {{ price.abbr }}</span>
                <span class = "product-price__item-value">{{price.value }}</span>
            </div>
        {% endfor %}
    </div>
</div>

