{% extends "PergaProductBundle:Products:categories.html.twig" %}

{% block welcome %}
{% endblock welcome %}
{% block products %}
    <div class="product__title">
        <h2>{{ product.name }}</h2>
    </div>
    <div class="product__content">
        <p class="product__info">
            <img class="img-float" src="{{ asset('bundles/pergaproduct/images/products/honey.jpg') }}" alt="" title="">
            {{ product.description }}
        </p>
        <p class="product__price">
            Цена: <span class = 'product__price__amount'>{{ product.price }}</span>
            <span class="product__price__currency">y.e</span>
        </p>
    </div>
{% endblock products %}
