<div class="info">
    <h3>Информация</h3>
        <p>
            Пасека <strong>"Мядовы маёнтак"</strong> находится в реестре предприятий таможенного союза</p>
    <h3>Контактные телефоны</h3>
        <p>
            <strong><abbr title="Контактный телефон">Velcom: </abbr></strong>+375-29-309-59-86<br>
            <strong><abbr title="Контактный телефон">МТС: </abbr></strong>+375-29-880-37-78<br>
            <strong><abbr title="Контактный телефон">Дом: </abbr></strong>801592-93-147<br>
        </p>
</div>
