<div class="info">
    <h3>Информация</h3>
        <p>
            Пасека <strong>"Мядовы маёнтак"</strong> находится в реестре предприятий таможенного союза</p>
    <h3>Контактные телефоны</h3>
        <p class = "phone">
            {% include "PergaProductBundle:Products:phone.html.twig" %}
        </p>
</div>
