<ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
</ol>
<!-- Carousel items -->


<div class="carousel-inner">
    {% block banners  %}
        {#todo refactorin this code#}
        {% for i in 1..5 %}
            <div class="{% if i == 1 %}active{% endif %} item">
                <img src="{{  asset('bundles/pergaproduct/images/front-page/banners/'~i~'.jpg') }}" alt="" />
                {#                    <div class="carousel-caption">
                                        <p>Рекламный текс №1.</p>
                                    </div>#}
            </div>
        {% endfor %}

    {% endblock banners  %}
</div>
<!-- Carousel nav -->
<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
