{% extends '::base.html.twig' %}

{% block header %}
    <div class="logo">
        <p><a href="/">Perga<span>.by</span></a></p>
    </div>
    <address class = "tel phone">
        {% include "PergaProductBundle:Products:phone.html.twig" %}
    </address>

    <div class="cl">&nbsp;</div>
{% endblock header %}

{% block navigation %}
    {{ knp_menu_render('main') }}
    <div class="cl">&nbsp;</div>
{% endblock navigation %}

{% block slider %}
    {% include "PergaProductBundle:Products:slider.html.twig" %}
{% endblock slider %}

{% block main %}
    <div id="content" class="left">
        {% block content %}
            {% block welcome %}
                <div class="welcome">
                    <h3>Мёд и продукты пчеловодства</h3>
                    <p>Мы предлагаем экологически чистый и натуральный продукт со своей пасеки. Так как мы работаем без
                        посредников, цены на наш мед не завышены и отражают реальную стоимость данного продукта. Мы окажем
                        вам профессиональную консультацию и поможем сделать непростой выбор из разнообразия меда. Мы
                        действительно хотим, чтобы вы насладились натуральным медом и стали нашим постоянным покупателем.
                        Наш принцип - только натуральный мед и доброе отношение к нашим клиентам - залог успешного бизнеса!
                        После того, как вы решили побаловать себя и своих близких натуральным медом, свяжитесь в нами и
                        мы доставим вам мед в любую точку города. Также мы можем доставить вам ваш заказ по Беларуси.
                        <a href="/contact" class="more">О пасеке</a>
                    </p>

                </div>
            {% endblock welcome %}

            <div class="product__list">
                {% block products %}
                    {% include 'PergaProductBundle:Products:products.html.twig' with {'products': products} %}
                {% endblock products %}
            </div>
        {% endblock content %}
    </div>
    <div id="sidebar" class="right">
        {% block sidebar %}
            <div class="info">
                <h3>Информация</h3>
                <p>
                    Пасека <strong>"Мядовы маёнтак"</strong> находится в реестре предприятий таможенного союза</p>
                <h3>Контактные телефоны</h3>
                <p class = "phone">
                    {% include "PergaProductBundle:Products:phone.html.twig" %}
                {% block productList %}
                <h3>Продукция</h3>
                {{ render(controller('PergaProductBundle:Products:list')) }}
            {% endblock productList %}
            </div>
        {% endblock sidebar %}
    </div>
    <div class="cl">&nbsp;</div>
{% endblock main %}

{% block footer %}
    <p class = "left"> Пасека <strong>"Мядовы маёнтак"</strong> находится в реестре предприятий таможенного союза</p>
    <div class="cl">&nbsp;</div>
    <p class = "left">&copy; Орешков Сергей Васильевич 2008-2013. </p>
    <p class = "right">
        <strong><abbr title="Контактный телефон">Velcom: </abbr></strong>+375-29-309-59-86<br>
    </p>
    <div class = "cl"></div>
{% endblock footer %}
