{% extends '::base.html.twig' %}

{% block header %}
    <h1 id="logo">
        <a href="{{ path('front-page') }}" class="notext"></a>
    </h1>
    <address class = "address right">
        <strong><abbr title="Контактный телефон">Velcom: </abbr></strong>+375-29-309-59-86<br>
        <strong><abbr title="Контактный телефон">МТС: </abbr></strong>+375-29-880-37-78<br>
        <strong><abbr title="Контактный телефон">Дом: </abbr></strong>801592-93-147<br>
    </address>

    <div class="cl">&nbsp;</div>
{% endblock header %}

{% block navigation %}
    {{ knp_menu_render('main') }}
    <div class="cl">&nbsp;</div>
{% endblock navigation %}

{% block slider %}
    {% include "PergaProductBundle:Products:slider.html.twig" %}
{% endblock slider %}

{% block main %}
    <div id="content" class="left">
        {% block content %}
            {% block welcome %}
                <div class="highlight">
                    <h3>Welcome Note</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text of the
                        printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
                        since the 1500s.
                    </p>
                    <a href="/contact" class="more">О пасеке</a>
                </div>
            {% endblock welcome %}

            <div class="projects">
                {% block products %}
                    <h3>Продукция</h3>
                        {% include 'PergaProductBundle:Products:products.html.twig' with {'productCategories': productCategories} %}
                {% endblock products %}
            </div>
        {% endblock content %}
    </div>
    <div id="sidebar" class="right">
        {% block sidebar %}
            {% include "PergaProductBundle:Products:sidebar.html.twig" %}
        {% endblock sidebar %}
    </div>
    <div class="cl">&nbsp;</div>
{% endblock main %}

{% block footer %}
    <p class = "left"> Пасека <strong>"Мядовы маёнтак"</strong> находится в реестре предприятий таможенного союза</p>
    <div class="cl">&nbsp;</div>
    <p class = "left">&copy; Орешков Сергей Васильевич 2008-2013. </p>
    <p class = "right">
        <strong><abbr title="Контактный телефон">Velcom: </abbr></strong>+375-29-309-59-86<br>
    </p>
    <div class = "cl"></div>
{% endblock footer %}
